@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Playpen+Sans+Thai:wght@100..800&display=swap');

h1 {
    color: #000000 !important;
    text-align: center;
    font-size: 60px !important;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Jua", sans-serif !important;
    padding-bottom: 50px !important;
}

h2 {
    font-family: "Playpen Sans Thai", cursive !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px !important;
}

[data-testid="stAppViewContainer"] {
    background-image: url("data:image/png;base64,REPLACE_WITH_BASE64");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

[data-testid="stHeader"] {
    background: rgba(0,0,0,0);
}

.st-key-ShowAllButton button {
    width: 100% !important;
    background-color: rgb(240, 220, 196) !important;
}

.st-key-ShowAllButton button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 0px rgb(233, 185, 113);
    cursor: pointer;
}

.st-key-ShowAllButton button:active {
    animation: pop 0.2s ease-out;
}

.st-key-LetsCookinRandomButton button {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border: 4px solid transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: black;
    box-shadow: 0 0 0 2px white;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.st-key-LetsCookinRandomButton button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: black;
    border-radius: 12px;
    background-color: rgb(237, 238, 239);
}

.st-key-LetsCookinRandomButton button:active {
    transform: scale(0.95);
    box-shadow: 0 0 0 4px rgb(196, 197, 197);
}

.st-key-LetsCookinRandomButton button::after {
    content: '';
    pointer-events: none;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(252,251,252);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.st-key-LetsCookinRandomButton button:hover::after {
    width: 220px;
    height: 220px;
    opacity: 1;
}


@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

@media (max-width: 600px) {
    h1 {
        font-size: 43px !important;
    }
}

.st-key-containerafterrandom {
    border: 3.5px solid #000000 !important;
    padding: 20px !important;
    border-radius: 10px !important;
    margin-top: 20px !important;
    background-color: transparent !important;
}

div[class*="st-key-containerafterall_"] {
    border: 3.5px solid #000000 !important;
    padding: 20px !important;
    border-radius: 10px !important;
    margin-top: 20px !important;
    background-color: transparent !important;
}

[data-baseweb="select"] {
    border: 3px solid #363636 !important;
    border-radius: 10px !important;
    background-color: transparent !important;
}

[data-baseweb="tag"] {
    background-color: #f0b791 !important;
    color: black !important;
    font-family: "Itim" !important;
}

[data-testid="stSelectboxVirtualDropdown"] {
    background-color: rgb(255, 255, 255) !important;
}

[role="option"] {
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 20px;
}

.st-key-nextbutton button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: linear-gradient(90deg, #007BFF, #00C6FF) !important;
    color: white !important;
    font-weight: 600 !important;
    border: none !important;
    padding: 4px 12px !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    transition: all 0.2s ease-in-out !important;
}

.st-key-nextbutton button:hover {
    transform: translateX(10px);
    background: linear-gradient(90deg, #006ae0, #00b5e0) !important;
}

[data-testid="stHorizontalBlock"] {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 2rem !important;
}